.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #223;
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        width: 40vh;
        background-color: #FFF;
        border: 2px solid #fb7c00;
        border-radius: 1vh;
        &_title {
            font-family: Overwatch;
            font-size: 5em;
        }
        &_text {
            font-size: 1.5em;
        }
        &_input {
            font-size: 1.2em;
            border-radius: 1vh;
            width: 60%;
        }
        & .username {
            font-family: OverwatchText;
        }
    }
}
