@font-face {
    font-family: "Overwatch";
    src: url("./assets/fonts/bignoodletoo.woff") format('woff');
}
@font-face {
    font-family: "OverwatchText";
    src: url("./assets/fonts/big_noodle_tilting.ttf") format('truetype');
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
